.sortierung-indikator {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
  width: 0;
  height: 0;
  border-style: solid;
}

.sortierung-indikator.up {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #007BC4 transparent;
}

.sortierung-indikator.down {
  border-width: 5px 5px 0 5px;
  border-color: #007BC4 transparent transparent transparent;
}

.rp_mannschafts_bild {
  width: 100%;
  margin: 0 -30px -5px;
}

.tax-rp_spieler_mannschaft .rp_mannschafts_bild {
  margin-top: -31px;
}

.tax-rp_spieler_mannschaft .result-set th,
.tax-rp_spieler_mannschaft .result-set td {
  padding: 5px;
}

.tax-rp_spieler_mannschaft .result-set th {
  font-size: 10pt;
}

.rp_spieler h6 {
  padding-bottom: 0;
}

.rp_spieler table {
  margin-bottom: 15px;
}

.rp_spieler table td,
.rp_spieler table th {
  padding: 7px;
  font-size: 10pt;
}

.rp_spieler a.dt-button {
  margin-bottom: 0;
}

.rp_spieler .spieler-portrait-wrapper img,
.rp_spieler .spieler-portrait-wrapper {
  display: block;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 0 auto 5px;
}

.rp_spieler .spieler-portrait-wrapper img {
  display: block;
}

.rp_spieler .spieler-portrait-wrapper.wrapper-no-img {
  line-height: 140px;
  color: white !important;
  font-size: 18pt;
  background-color: #CCCCCC;
}

.rp_spieler .spieler-portrait-wrapper.wrapper-no-img:hover,
.rp_spieler .spieler-portrait-wrapper.wrapper-no-img:focus {
  text-decoration: none !important;
}

/* Admin Seite */
/* ----------- */
.type-rp_spieler .photo a {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: white;
  background-color: #CCCCCC;
  border-radius: 50%;
  text-align: center;
  font-size: 12pt;
}

.column-rp_spieler_mannschaft {
  width: 17%;
}

.column-photo {
  width: 5%;
}

td.page-title {
  vertical-align: middle;
}
